<div class="row">
  <div class="col s12 l6 offset-l3">
    <h3>Задать новый пароль</h3>
    <form action="/recover" method="POST">
      <div class="input-field">
        <input id="password" name="password" type="password" class="validate" required>
        <label for="password">Новый пароль</label>
        <span class="helper-text" data-error="Введите пароль"></span>
      </div>
      <div class="input-field">
        <input id="passwordConfirm" name="passwordConfirm" type="password" class="validate" required>
        <label for="passwordConfirm">Повторите пароль</label>
        <span class="helper-text" data-error="Повторите пароль"></span>
      </div>
      <input type="hidden" name="userId" value="{{userId}}">
      <input type="hidden" name="token" value="{{token}}">
      <input type="hidden" name="_csrf" value="{{csrf}}">
      {{#if error}}
      <p class="alert">{{error}}</p>
      {{/if}}
      <button class="btn btn-primary" type="submit">Обновить пароль</button>
    </form>
  </div>
</div>
